# Python
__pycache__/
*.pyc

# Environment
venv/
.env/
.venv/
.envrc
# *.lock

# Jupyter
.ipynb_checkpoints/

# Data
data/*
!data/.gitkeep

# DVC cache
.dvc/
.cache/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
logs/
*.log


# Data files tracked by DVC
data/raw/*.txt
data/raw/*.csv

# Python & Jupyter
__pycache__/
.ipynb_checkpoints/
.env
.venv
*.pyc

# VSCode
.vscode/

